

body {
    height: 100vh;
    margin: 0;
    background: #339966;
}

.wrapp{
    /*text-align: center;*/
    padding: 10px;
    width: 100vw;
    height: 100vh;
    background:
            radial-gradient(
                    farthest-side at bottom left,
                    rgba(255, 0, 255, 0.5),
                    transparent
            ),
            radial-gradient(
                    farthest-corner at bottom right,
                    rgba(255, 50, 50, 0.5),
                    transparent 400px
            );

}
.repository__title{
    text-align: center;
    color: #993366;
}
.carts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cart{
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    background: rgba(51, 204, 153, 0.1);
    border-radius: 10px;
    position: relative;
}
.cart p {
    display: flex;
    justify-content: space-between;

    background: rgba(255, 255, 102, 0.1);
    color: #101828;
    padding: 5px;
    border-radius: 3px;

}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
}
.re {
    padding:  5px;
    margin: 5px 0;
    background: rgba(16, 24, 40, 0.2);
    border-radius: 5px;
}
.skull {
    position: absolute;
    cursor: pointer;
    right: 2px;
    top: 3px;
    width: 22px;
    height: 22px;
    margin: 0;
    background: url("download_493013.svg");
}

.repository__answer-search{
    width: 246px;
    margin: 10px;
    cursor: pointer;
}
.repository__input{
    width: 250px;
    height: 35px;
    font-size: 25px;
    color: #993366;
}